.sticky-wrapper {
	position: relative;

	&.sticky {
		position: sticky;
		top: 0;
		z-index: 1010;

		> div {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 100;
		}
	}

	&.moveToBottom {
		> div {
			top: calc(100vh - 230px);
		}
	}
}
